<% unless notice.nil? %>
<div class="notice alert alert-info alert-dismissable"><%= notice %></div>
<% end %>

<% unless alert.nil? %>
<div class="alert alert-danger alert-dismissable"><%= alert %></div>
<% end %>
